.imgLeft0{
  left:0%;
}

.imgLeft20{
  left:20%;
}

.imgLeft40{
  left:40%;
}

.imgLeft60{
  left:60%;
}

.imgLeft80{
  left:80%;
}

.imgLeft100{
  left:100%;
}

.imgLeft120{
  left:120%;
}

.imgLeft140{
  left:140%;
}
